<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-2">
        <h2>School Name</h2>        
    </div>
    <div class="col-lg-4" style="padding-top: 10px;">      
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"> 
                <select style="background-color:#1ab394" >
                    <option><a href="#">Action</a></option>
                    <option><a href="#" class="font-bold">Another action</a></option>
                    <option><a href="#">Something else here</a></option>
                    <option><a href="#">Separated link</a></option>
                </select>
            </button>
         
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row wrapper wrapper-content animated fadeInRight">
  
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Frequently asked question for Student module</h5>
                
            </div>
            <div class="ibox-content">
               
                
               
            </div>
        </div>
    </div>
 
</div>